@{
    ViewBag.Title = "Student";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
 }

<!--############################################################################################################## -->

<div class="wrapper col1">
  <div id="header">
    <div id="logo">
        </div>
    <div id="topnav">
        
      <ul>
        <li class="active"><a href="/Home/Index">Home</a></li>
          <li><a href="/Admin/Teacher">Teachers</a></li>
          <li><a href="/Home/Gallery">Gallery</a></li>
        <li><a href="/Home/Logout">Logout</a></li>
        
      </ul>
    </div>
    <br class="clear" />
  </div>
</div>


<!--############################################################################################################## -->
<div class="wrapper col2">
  <div id="featured_slide">
    <div class="featured_box"><a href="#"><img src="~/images/1.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/2.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/3.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/4.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/5.jpg" alt="" /></a>
      
    </div>
	<div class="featured_box"><a href="#"><img src="~/images/6.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/7.jpg" alt="" /></a>
      
    </div>
      <div class="featured_box"><a href="#"><img src="~/images/8.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/9.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/10.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/11.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/12.jpg" alt="" /></a>
      
    </div>
	<div class="featured_box"><a href="#"><img src="~/images/13.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/14.jpg" alt="" /></a>
    </div>
      <div class="featured_box"><a href="#"><img src="~/images/15.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/16.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/17.jpg" alt="" /></a>
      </div>
  </div>
</div>
<!--############################################################################################################## -->
<div class="wrapper col3">
  <div id="container">
    <div id="content">
        <h1>Admin</h1>
        <ul>
      <li><p><b>You can perform different task with student as you are Admin/Principal of your school. </b></p></li>
        <li><p><b>You can create new account of Student as well as Teacher. </b></p></li>
            <li><p><b>You can remove account of Student as well as Teacher. </b></p></li>
            <li><p><b>You can manage Fee's/salary of Student as well as Teacher. </b></p></li>
      </ul>
            </div>
  </div>
</div>
<!--############################################################################################################## -->

    

<div id="column">
      <div class="subnav">
        <h2>Students Navigation</h2>
        <ul>
          <li><a href="/Admin/Student_Account">Create Accounts</a></li>
          <li><a href="/Admin/Fee">Fee's Management</a>
         </ul>
            <ul>
                <li><a href="/Admin/Std_Attendence">Check Attendence</a></li>
              <li><a href="/Admin/All_Students">View All Students</a></li>
            </ul>
          </div>
      </div>