@{
    ViewBag.Title = "Teacher_Account";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
 }

<!--############################################################################################################## -->

<div class="wrapper col1">
  <div id="header">
    <div id="logo">
        </div>
    <div id="topnav">
      <ul>
        <li class="active"><a href="/Home/Index">Home</a></li>
          <li><a href="/Admin/Students">Students</a></li>
          <li><a href="/Home/Gallery">Gallery</a></li>
        <li><a href="/Home/Logout">Logout</a></li>
        
      </ul>
    </div>
    <br class="clear" />
  </div>
</div>


<!--############################################################################################################## -->
<div class="wrapper col2">
  <div id="featured_slide">
    <div class="featured_box"><a href="#"><img src="~/images/1.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/2.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/3.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/4.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/5.jpg" alt="" /></a>
      
    </div>
	<div class="featured_box"><a href="#"><img src="~/images/6.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/7.jpg" alt="" /></a>
      
    </div>
      <div class="featured_box"><a href="#"><img src="~/images/8.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/9.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/10.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/11.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/12.jpg" alt="" /></a>
      
    </div>
	<div class="featured_box"><a href="#"><img src="~/images/13.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/14.jpg" alt="" /></a>
    </div>
      <div class="featured_box"><a href="#"><img src="~/images/15.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/16.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/17.jpg" alt="" /></a>
      </div>
  </div>
</div>
<!--############################################################################################################## -->
<div class="wrapper col3">
  <div id="container">
    <div id="content">
      </div>
        <h1>: New Account For Teachers :</h1>
        <form action="/Admin/Add_Teacher" method="post" id="create" onsubmit="return validate_Account();">
                username:<br>
              <input type="text" name="username" id="username" value="" />
              <br><br>
              Teacher First Name:<br>
              <input type="text" name="fname" id="fname" value="" />
                          <br><br>
              Teacher Last Name:<br>
              <input type="text" name="lname" id="lname" value="" />
              <br><br>    
                Password:<br>
              <input type="password" name="teacherpass" id="teacherpass" value="" />
            
              <br><br>
              
                Confirm password:<br>
              <input type="password" name="cpassword" id="cpassword" value="" />
            
              <br><br>
            
                <p>
              <input type="submit" name="Save" id="Save"  />
              &nbsp;
              <input type="reset" name="reset" id="reset" value="Reset" />
             </p>
                
              <br><br>
              
        </form>
        
      </div>
    </div>
<!--############################################################################################################## -->
 <script>
     function validate_Account() {
         var rollnum = $('#Rusername').val();
         var fname = $('#fname').val();
         var lname = $('#lname').val();
         var password = $('#teacherpass').val();
         var cpass = $('#cpassword').val();
         if (rollnum == "") {
             alert('Enter Roll number Student');
             return false;
         }
         if (fname == "") {
             alert('Enter Name of Student');
             return false;
         }
         if (lname == "") {
             alert('Enter Name of Student');
             return false;
         }
         if (password == "") {
             alert('Enter Password of teacher');
             return false;
         }
         if (cpass == "") {
             alert('Enter Confirm-Password of teacher');
             return false;
         }
         if (password != cpass) {
             alert('Enter correct confirm-Password ');
             return false;
         }
         return true;
     }
 </script>
<!--############################################################################################################## -->
<div id="column">
      <div class="subnav">
        <h2>Teacher Navigation</h2>
        <ul>
          <li><a href="/Admin/Salary">Salary Management</a>
         </ul>
            <ul>
               <li><a href="/Admin/T_Attendence">Check Attendence</a></li>
              <li><a href="/All_Teacher">View All Teachers</a></li>
            </ul>
          
      </div>
    </div>
