@{
    ViewBag.Title = "View_Salary";
}

@{
    ViewBag.Title = "ViewStd_Fee";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
 }

<!--############################################################################################################## -->

<div class="wrapper col1">
  <div id="header">
    <div id="logo">
        </div>
    <div id="topnav">
      <ul>
        <li class="active"><a href="/Home/Index">Home</a></li>
          <li><a href="/Admin/Teacher">Teachers</a></li>
          <li><a href="/Home/Gallery">Gallery</a></li>
        <li><a href="/Home/Logout">Logout</a></li>
        
      </ul>
    </div>
    <br class="clear" />
  </div>
</div>


<!--############################################################################################################## -->
<div class="wrapper col2">
  <div id="featured_slide">
    <div class="featured_box"><a href="#"><img src="~/images/1.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/2.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/3.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/4.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/5.jpg" alt="" /></a>
      
    </div>
	<div class="featured_box"><a href="#"><img src="~/images/6.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/7.jpg" alt="" /></a>
      
    </div>
      <div class="featured_box"><a href="#"><img src="~/images/8.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/9.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/10.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/11.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/12.jpg" alt="" /></a>
      
    </div>
	<div class="featured_box"><a href="#"><img src="~/images/13.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/14.jpg" alt="" /></a>
    </div>
      <div class="featured_box"><a href="#"><img src="~/images/15.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/16.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/17.jpg" alt="" /></a>
      </div>
  </div>
</div>
<!--############################################################################################################## -->
<div class="wrapper col3">
  <div id="container">
    <div id="content">
      </div>
        <h1>: View Salary status :</h1>
      <div id="checking">Checking....</div>
      <div id="result"></div>
        <form action="/Admin/Salary_View" method="post" id="create" onsubmit="return validate_Account();">
                  Username:<br>
              <input type="text" name="Username" id="Username" value="" />
              <br><br>
            Month:
            <br><br>
               <select name="Month">
                   <option>1</option>
                   <option>2</option>
                   <option>3</option>
                   <option>4</option>
                   <option>5</option>
                   <option>6</option>
                   <option>7</option>
                   <option>8</option>
                   <option>9</option>
                   <option>10</option>
                   <option>11</option>
                   <option>12</option>
                   </select>
              <br><br>          
              <div id="Check">
              <p>  
              <input type="submit" name="Enter" id="Enter"  />
              </p>
             </div>
            <p>
              <input type="button" name="check" id="check" value="Check USername" />
              </p> 
            <p>
              <input type="reset" name="A-reset" id="A-reset" value="Reset" />
              </p>  
              <br><br />   
        </form>
       
      </div>
    </div>


<!--############################################################################################################## -->
 
<script>
     function validate_Account() {
      
         if ($('#Username==').val()=="")
         {
             alert('Enter user name');
             return false;
         }
         if ($('#Month').val() == "")
         {
             alert('Enter Month ');
             return false;
         }
         return true;
     }
 </script>

@Scripts.Render("../bundles/jquery")

<script>
    $(document).ready(function () {

        $('#checking').hide();
        $('#Check').hide();
        $('#check').click(function () {

            $('#checking').show();
            var rollnum = $("#Username").val();
            $.getJSON("/Admin/CheckUserName_T?UserName=" + rollnum, function (data) {
                $('#checking').hide();
                if (data) {
                    $('#result').text("User already exists");
                    $('#Check').show();

                }
                else {
                    $('#result').text("User Name is not available");
                }
            });

        });

    });
 </script>
<!--############################################################################################################## -->

     <div id="column">
      <div class="subnav">
       <h2>Teachers Navigation</h2>
        <ul>
          <li><a href="/Admin/Add_Salary">ADD Salary</a></li>
         </ul>
            <ul>
              <li><a href="View_All_Std">View All Teachers Salary</a></li>
            </ul>
       </div>
      </div>






