@{
    Layout = "~/Views/Shared/_Layout.cshtml";
 }
@{
    ViewBag.Title = "Aboutus";
}


<!--############################################################################################################## -->

<div class="wrapper col1">
  <div id="header">
    <div id="logo">
        </div>
    <div id="topnav">
      <ul>
        <li class="active"><a href="/Home/Index">Home</a></li>
        <li><a href="/Home/About">About us</a></li>
        <li><a href="/Home/Career">Career</a></li>
        <li><a href="/Home/Gellery">Gallery</a></li>
          <li><a href="/Home/Contact">Contac Us</a></li>
          <li><a href="/Home/Admin">Admin</a></li>
          <li><a href="/Home/Login">Log_In</a></li>
      </ul>
    </div>
    <br class="clear" />
  </div>
</div>


<!--############################################################################################################## -->
<div class="wrapper col2">
  <div id="featured_slide">
    <div class="featured_box"><a href="#"><img src="~/images/1.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/2.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/3.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/4.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/5.jpg" alt="" /></a>
      
    </div>
	<div class="featured_box"><a href="#"><img src="~/images/6.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/7.jpg" alt="" /></a>
      
    </div>
      <div class="featured_box"><a href="#"><img src="~/images/8.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/9.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/10.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/11.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/12.jpg" alt="" /></a>
      
    </div>
	<div class="featured_box"><a href="#"><img src="~/images/13.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/14.jpg" alt="" /></a>
    </div>
      <div class="featured_box"><a href="#"><img src="~/images/15.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/16.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/17.jpg" alt="" /></a>
      </div>
  </div>
</div>
<!--############################################################################################################## -->


<div class="wrapper col3">
  <div id="homecontent">
    <div class="fl_left">
      <div class="column2">
        <ul>
          <li>
            <h2><b><I>ABOUT US</I></b></h2>
            
            <p>One of the Famous school in this country.</p>
            <p>MoreThan 1000 Students are studyin there.We have also Well qualified staff.
                The Beaconhouse group has over 247,000 fulltime students in nine countries and is possibly the largest school network of its kind in the world. Established in November 1975 as the Les Anges Montessori Academy with 19 toddlers, Beaconhouse has since grown into an international network of private schools, imparting distinctive and meaningful learning to students all the way from birth – through its partnership in Pakistan with Gymboree Play & Music – to post-graduation, through the Beaconhouse National University in Lahore.

Of these students, close to 100,000 study at the group’s flagship network, the Beaconhouse School System, in Pakistan as well as overseas, while the remaining are largely enrolled at The Educators, a parallel school network operated by the group with over 148,000 students.

The Beaconhouse of today is thus much more than just a stand-alone school. Through distinct and independent divisions in the UK, Malaysia, Indonesia, Thailand, the Philippines, Oman, UAE, Pakistan and Bangladesh, it caters to the education and training needs of a large and diverse group of individuals of varying ages, socio-economic backgrounds, and nationalities, with its activities also extending beyond education in some countries.

Beaconhouse has always laid tremendous emphasis on the development of human capital. From its initial association in the 1980s with The Moray House Institute of Education in Scotland to its more recent teaching training links with the University of Bradford and MARJON, Beaconhouse has institutionalised in-service teacher training like no other school.

So, with rigorous standards that demand up-to-date teaching skills and a range of challenging programmes, the Beaconhouse School System brings success within the reach of every student.
            </p>
          </li>
          
        </ul>
        <br class="clear" />
      </div>
    </div>