@{
    Layout = "~/Views/Shared/_Layout.cshtml";
 }
@{
    ViewBag.Title = "Aboutus";
}

<!--############################################################################################################## -->

<div class="wrapper col1">
  <div id="header">
    <div id="logo">
        </div>
    <div id="topnav">
      <ul>
        <li class="/Home/Index"><a href="/Home/Index">Home</a></li>
        <li><a href="/Home/About">About us</a></li>
        <li><a href="/Home/Career">Career</a></li>
        <li><a href="/Home/Gallery">Gallery</a></li>
          <li><a href="/Home/Contact">Contac Us</a></li>
          <li><a href="/Home/Admin">Admin</a></li>
          <li><a href="/Home/Login">Log_In</a></li>
      </ul>
    </div>
    <br class="clear" />
  </div>
</div>


<!--############################################################################################################## -->
<div class="wrapper col2">
  <div id="featured_slide">
    <div class="featured_box"><a href="#"><img src="~/images/1.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/2.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/3.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/4.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/5.jpg" alt="" /></a>
      
    </div>
	<div class="featured_box"><a href="#"><img src="~/images/6.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/7.jpg" alt="" /></a>
      
    </div>
      <div class="featured_box"><a href="#"><img src="~/images/8.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/9.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/10.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/11.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/12.jpg" alt="" /></a>
      
    </div>
	<div class="featured_box"><a href="#"><img src="~/images/13.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/14.jpg" alt="" /></a>
    </div>
      <div class="featured_box"><a href="#"><img src="~/images/15.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/16.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/17.jpg" alt="" /></a>
      </div>
  </div>
</div>
<!--############################################################################################################## -->


<div class="wrapper col3">
  <div id="homecontent">
    <div class="fl_left">
      <div class="column2">
        <ul>
          <li>
            <h2><b><I>Career</I></b></h2>
            
            <p>One of the Famous school in this country.</p>
            <p>MoreThan 1000 Students are studyin there.We have also Well qualified staff.
                Beaconhouse is one of the largest private sector school organisations in the world. With our vast and growing network, we at Beaconhouse are always on the lookout for skilled and capable people willing to take on a challenge. 

Beaconhouse offers competitive employee packages and has a vibrant and dynamic working environment. There are a variety of job opportunities at different levels available in our organisation in two specific areas: academics and corporate. 

A significant number of job opportunities are for teaching and other school-based positions that are routed through our online recruitment system. 

            </p>
          </li>
          
        </ul>
        <br class="clear" />
      </div>
    </div>