@{
    Layout = "~/Views/Shared/_Layout.cshtml";
 }
@{
    ViewBag.Title = "Aboutus";
}

<!--############################################################################################################## -->

<div class="wrapper col1">
  <div id="header">
    <div id="logo">
        </div>
    <div id="topnav">
      <ul>
        <li class="active"><a href="/Home/Index">Home</a></li>
        <li><a href="/Home/About">About us</a></li>
        <li><a href="/Home/Career">Career</a></li>
        <li><a href="/Home/Gellery">Gallery</a></li>
          <li><a href="/Home/Contact">Contac Us</a></li>
          <li><a href="/Home/Admin">Admin</a></li>
          <li><a href="/Home/Login">Log_In</a></li>
      </ul>
    </div>
    <br class="clear" />
  </div>
</div>


<!--############################################################################################################## -->
<div class="wrapper col2">
  <div id="featured_slide">
    <div class="featured_box"><a href="#"><img src="~/images/1.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/2.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/3.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/4.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/5.jpg" alt="" /></a>
      
    </div>
	<div class="featured_box"><a href="#"><img src="~/images/6.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/7.jpg" alt="" /></a>
      
    </div>
      <div class="featured_box"><a href="#"><img src="~/images/8.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/9.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/10.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/11.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/12.jpg" alt="" /></a>
      
    </div>
	<div class="featured_box"><a href="#"><img src="~/images/13.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/14.jpg" alt="" /></a>
    </div>
      <div class="featured_box"><a href="#"><img src="~/images/15.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/16.jpg" alt="" /></a>
      
    </div>
    <div class="featured_box"><a href="#"><img src="~/images/17.jpg" alt="" /></a>
      </div>
  </div>
</div>
<!--############################################################################################################## -->


<div class="wrapper col3">
  <div id="homecontent">
    <div class="fl_left">
      <div class="column2">
        <ul>
          <li>
            <h2><b><I>Contact</I></b></h2>
            <div class="right">
                <p><b>Phone - Number   : 0322-4701887</b></p>
                <p><b>E_mail : roxen_titans@yahoo.com</b></p>
                </div>
            </p>
          </li>
          
        </ul>
        <br class="clear" />
      </div>
    </div>

      
     <div class="main">
        
				<h1>Contact</h1>
				<h2>Send Us a Quick Message</h2>
				
				<form action="index.html" method="post" class="message">
					<label>First Name</label>
					<input type="text" name="fname">
					<label>Last Name</label>
					<input type="text" name="lname">
					<label>Email Address</label>
					<input type="text" name="email">
					<label>Message</label>
					<textarea></textarea>
					<input type="submit" value="Send Message">
				</form>
			</div>